body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*QUIZ QuizData*/

.quizOptions{
  padding: 20px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  margin: 2% 10%;
  cursor: pointer;
  font-size: 18px;
}
.App{
 background-color: white;
  margin: 0 30%;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
}
.title{
  color: #4c9bc4;
}
.line{
  width: 15%;
  height: 2px;
  background-color: #4c9bc4;
  margin: -2% auto 0 auto;
}
.selected{
  background-color: #a9c6e8;
  transition: .3s ease-in-out;
}

.emailLabel{
  color: #5c8dc6;
}
.emailField{
  margin: 8% 0;
  width: 80%;
  padding: 2%;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.emailSubmit, .submitBtn{
  padding: 8px 20px;
  background-color: #4c9bc4;
  color: white;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 2%;
}
.line2{
  width: 30%;
  height: 2px;
  background-color: #4c9bc4;
  margin: 4% auto 6% auto;
}
.question{
    color: #5c8dc6;
    font-weight: normal;
}
.questionCounter{
  color: darkgrey;
}
.score{
  color: #5c8dc6;
  font-size: 22px;
  font-weight: 700;
}
.replyList{
  font-style: italic;
  font-size: 18px;
}
.answersCheck{
  text-align: left;
  margin-left: 33%;
  font-size: 15px;
  font-style: normal;
  line-height: 1.5rem;
}
.imgRender{
  max-height:150px;
  max-width: 150px;
  padding: 2%;
  border-radius: 20px;
  margin: 1% auto;
}
.imageContainer{
  display: flex;
  flex-direction: column;
}
.uploadImgBtn, .progressBar{
  margin: 2% auto;
}
.email{
  border: 1px solid #bbb;
  color: #515151;
  outline: 0;
  padding: 8px 15px;
  font-size: 0.9em;
  min-width: 100px;
  border-radius: 5px
}
*{
    outline: 0;
}
